@import "bootstrap";

//
// Custom CSS
//
.hero-background {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-image: url(/images/background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-container {
  position: absolute;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
